* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  padding: 5px;
}

.nav-list {
  text-align: center;
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

